
/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin:  0;
  padding: 0;
  color: hsla(0, 0%, 0%, 0.938);
  background: #700c63;
  margin-left: 20vw;
  margin-right: 20vw;
}

/* Header */
header {
  background: linear-gradient(135deg, #5e0f43, #fc25aa);
  color: #fff;
  padding:  0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 10px 0 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffeb3b;
}

/* Sections */
main {
  padding: 20px;
}

section {
  margin: 20px 0;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-top: 0;
  color: #2575fc;
}

/* Footer */
footer {
  text-align: center;
  background: #333;
  color: #fff;
  padding: 10px 0;
  margin-top: 15vw;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 20.33%;
  padding: 10vw;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
